<% if logged_in? %>
<%= @error %>

<form action='/notes/<%= @note.id %>' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch"><br>
  Edit Your Note:

  <input type="submit" name="submit" id="submit" value="Update">

  </form>

  <a href="/logout">Logout</a>

  <% else %>
    <h1> You Must Be Logged in to make Notes <h1>
  <% end %>